<div id="dropzone" fixdragleave class="uk-grid-1-1 well drop-zone pull-bottom" nv-file-drop nv-file-over uploader="uploader">
  <span uk-icon="icon: cloud-upload; ratio:3"></span><br>
      Drop files to upload
</div>
<!-- <div class="uk-grid" uk-accordion ng-if="false">
      <li>
          <div class="uk-accordion-content">
            <div class="uk-width-1-1">
              <table class="uk-table">
                  <thead>
                      <tr>
                          <th>Name</th>
                          <th ng-show="uploader.isHTML5">Size</th>
                          <th ng-show="uploader.isHTML5">Progress</th>
                          <th>Status</th>
                          <th>Actions</th>
                      </tr>
                  </thead>
                      <tr ng-repeat="item in uploader.queue">
                          <td>
                          </td>
                          <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size | filesize}}</td>
                          <td ng-show="uploader.isHTML5">
                              <div class="progress" style="margin-bottom: 0;">
                                  <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                              </div>
                          </td>
                          <td>
                              <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                              <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                              <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                          </td>
                          <td>
                              <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                  <span class="glyphicon glyphicon-upload"></span> Upload
                              </button>
                              <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                  <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                              </button>
                              <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                  <span class="glyphicon glyphicon-trash"></span> Remove
                              </button>
                          </td>
                      </tr>
                  </tbody>
              </table>
            </div>
          </div>
      </li>
</div> -->
