<div class="col-md-12 infoArea">
  <ng-include src="'templates/searchbar.html'"></ng-include>
</div>
<ng-include src="'templates/dropzone.html'"></ng-include>

<table ng-show="objects.length > 0" class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Preview</th>
    <th>Faces</th>
    <th>Category</th>
    <th>Confidence</th>
    <th>Size</th>
    <th>&nbsp;</th>
  </tr>
  <tr ng-repeat='obj in objects'>
    <td>{{obj.name}}</td>
    <td ng-if="obj.image == true"><a href="{{preview(obj.name)}}" data-lightbox="collection" data-title="{{obj.name}}"><img src="{{preview(obj.name)}}" style="width:100px;"></a></td>
    <td ng-if="obj.video == true">
        <a href="{{preview(obj.name)}}" target="_blank">open</a>
        <!-- <video width="160" height="120" controls autobuffer preload="auto"> -->
           <!-- <source type="{{obj.mime_type}}" src="{{preview(obj.name)}}"> -->
        <!-- </video> -->
    </td>
    <!-- <td ng-if="obj.other == true"><object data="{{preview(obj.name)}}" type="{{obj.mime_type}}" style="width:100px;height:200px;" autostart="false"></td> -->
    <td ng-if="obj.other == true"></td>
    <td>{{obj.properties.faces}}</td>
    <td>{{obj.properties.autocategory}}</td>
    <td>{{obj.properties.autocategoryconfidence}}</td>
    <td>{{obj.size | filesize}}</td>
    <td><a href="{{download(obj.name)}}" class="glyphicon glyphicon-download-alt" aria-hidden="true"></a></td>
  </tr>
</table>
<div class="col-md-12 text-center" ng-show="(objects.length == 0 && searchedObject.s.length == 0)"><h3 class="lightgray">This container is empty</h3></div>
<div class="col-md-12 text-center" ng-show="(objects.length == 0 && searchedObject.s.length > 0 && didSearch)"><h3 class="lightgray">No results</h3></div>
