<div class="uk-grid">
    <div class="uk-width-1-1">
      <ng-include src="'templates/searchbar.html'"></ng-include>
    </div>

    <ng-include src="'templates/upload.html'"></ng-include>

  <div class="uk-width-1-1 uk-margin-medium-top ">
  <table ng-show="objects.length > 0" class="uk-table uk-table-divider">
    <tr>
      <th>Name</th>
      <th>Size</th>
      <th>Link  </th>
    </tr>
    <tr ng-repeat='obj in objects track by $index'>
      <td>{{obj.name}}</td>
      <td>{{obj.size | filesize}}</td>
      <td><a href="{{download(obj.name)}}" uk-icon="icon: cloud-download" aria-hidden="true"></a></td>
    </tr>
  </table>
  </div>

  <div class="uk-grid uk-position-center">
    <div class="uk-padding">
      <div ng-show="(objects.length == 0 && searchedObject.s.length == 0)">
        <h3 class="uk-text-muted uk-text-center">This container is empty.</h3>
        <p class="uk-text-muted uk-text-center">Uploaded files will appear here</p>
      </div>
      <div ng-show="(objects.length == 0 && searchedObject.s.length > 0 && didSearch)">
        <h3 class="uk-text-muted">No results</h3>
      </div>
    </div>
  </div>

  <div class="uk-grid uk-position-bottom-center uk-margin">
        <ul class="uk-pagination uk-flex-center">
          <li class="uk-pagination-previous" ng-class="{'uk-disabled': currentPage==1}">
            <a ng-click="repaginate(-1, true)">Previous</a>
          </li>
          <li ng-repeat="p in paginatorArray track by $index"
              ng-class="{
                'uk-active': currentPage==p,
                'uk-disabled': p == '...'
              }">
            <a ng-click="repaginate(p)">{{p}}</a>
          </li>
          <li class="uk-pagination-next" ng-class="{'uk-disabled': currentPage==totalPages}">
            <a ng-click="repaginate(1, true)">Next</a>
          </li>
        </ul>

  </div>
</div>
