<div class="uk-grid uk-position-right">
      <form class="uk-form-horizontal">
        <div class="uk-inline">
            <span class="uk-form-icon" uk-icon="icon: search"></span>
            <input ng-model="searchedObject.s" class="uk-input" placeholder="search"></input>
        </div>
        <button class="uk-button uk-button-primary" ng-click="searchedObject.s = ''; didSearch=false;">Search</button>
        <button x uk-toggle="target: #my-id" class="uk-button uk-button-secondary" type="button">
          <span uk-icon="icon: upload"></span> Upload
        </button>
      </form>
</div>
