<div class="col-md-12 infoArea">
  <div class="col-md-3 col-md-offset-9">
    <form class="form-inline">
      <div class="form-group pull-right">
        <button class="btn btn-default pull-right" ng-click="doSearch(searchedObject.s)">
          <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        </button>
        <input type="text" ng-model="searchedObject.s" class="form-control pull-right" placeholder="search" ng-click="searchedObject.s = ''; didSearch=false;"/>
      </div>
    </form>
  </div>
</div>
